<html>
  <head>
    <meta charset="UTF-8">
    <base target="_blank">
    <link rel="stylesheet" href="../../assets/css/style.css"> 
    <meta property="og:title" content="Traditional Animator Indonesia" />
    <meta property="og:description" content="Traditional Animator Indonesia adalah online group dimana kita memposting karya Animasi hand-drawn (Frame by Frame) Digital atau Tradisional." />
    <meta property="og:image" content="https://traditionalanimatorindonesia.github.io/assets/img/icon.png" />
    <script src="../../assets/javascript/jquery.js"></script>
   </head>
    
  <body>
    <style>
        img{width:200px;height:200px;}
        table{float:left;}
    </style>
    <h2>Templates</h2>
    

<div class="table_component" role="region" tabindex="0">

<table>
        <tr>
            <td>
                <b>Animation Template</b><br>
                Source: Dong Chang
            </td>
        </tr>
        <tr>
            <td><a href="assets/DongChang_LO_200dpi.png"><img src="assets/DongChang_LO_200dpi.png"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Timesheet</b><br>
                Source: Dong Chang
            </td>
        </tr>
        <tr>
            <td><a href="assets/DongChang_Timesheet_A3.png"><img src="assets/DongChang_Timesheet_A3.png"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Animation Template</b><br>
                Source: AnimeGO
            </td>
        </tr>
        <tr>
            <td><a href="assets/AnimeGO_Animation.png"><img src="assets/AnimeGO_Animation.png"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Storyboard Template</b><br>
                Source: AnimeGO
            </td>
        </tr>
        <tr>
            <td><a href="assets/AnimeGO_Storyboard.png"><img src="assets/AnimeGO_Storyboard.png"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Settei Template</b><br>
                Source: AnimeGO
            </td>
        </tr>
        <tr>
            <td><a href="assets/AnimeGO_Settei.png"><img src="assets/AnimeGO_Settei.png"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Timesheet</b><br>
                Source: AnimeGO
            </td>
        </tr>
        <tr>
            <td><a href="assets/AnimeGO_Timesheet.png"><img src="assets/AnimeGO_Timesheet.png"></a></td>
        </tr>
</table>
</div>





  </body>
</html>
