<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../assets/css/grid_style.css"> 
  <base target="_blank">
    <meta charset="UTF-8">
    <meta property="og:title" content="Template Animasi" />
    <meta property="og:description" content="Kumpulan Template Animasi, E-Conte, Settei, Palette Anime" />
    <meta property="og:image" content="https://traditionalanimatorindonesia.github.io/assets/img/icon.png" />

</head>
<body>
  <main class="container">
    <section class="header">
      <h1>Templates</h1>
      <p>Kumpulan Template Animasi, Timesheet, Model Sheet, dll</p>
    </section>

    <section class="grid">
      <!-- Card 1 -->
      <article class="card">
          <img src="assets/thumbnail_starterkit.jpg" alt="Forest and mountains" />
        <div class="content">
          <h2 class="title">Anime Starter Kit</h2>
          <p class="meta">Animation Template, Timesheet, Model Sheet & Conte</p>
          <div class="actions">
            <a class="btn" href="https://mochoko.gumroad.com/l/japaneseanimekit" download>Gumroad</a>
            <a href="https://mochoko.gumroad.com/l/japaneseanimekit"><button class="btn ghost" type="button">Studio Bulldog</button></a>
          </div>
        </div>
      </article>

      <!-- Card 2 -->
      <article class="card">
          <img src="assets/thumbnail_layout.jpg" alt="M" />
        <div class="content">
          <h2 class="title">Animation Template</h2>
          <p class="meta">Standard Template by The Association of Japanese Animations</p>
          <div class="actions">
            <a class="btn" href="assets/AJA_LO.png" download>PNG</a><a class="btn" href="assets/AJA_LO.psd" download>PSD</a>
            <a href="https://aja-gr-jp.translate.goog/jigyou/chousa/aja_layout?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en"><button class="btn ghost" type="button">AJA</button></a>
          </div>
        </div>
      </article>

      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_layout.jpg" alt="" />
        <div class="content">
          <h2 class="title">Animation Template</h2>
          <p class="meta">Layout Template from uploaded Dong Chang on his youtube</p>
          <div class="actions">
            <a class="btn" href="assets/DongChang_LO_200dpi.png" download>PNG</a>
            <a href="https://www.youtube.com/watch?v=lTwMjbD2adQ"><button class="btn ghost" type="button">Dong Chang</button></a>
          </div>
        </div>
      </article>
      
      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_layout.jpg" alt="Typography poster" />
        <div class="content">
          <h2 class="title">Animation Template</h2>
          <p class="meta"><br><br></p>
          <div class="actions">
            <a class="btn" href="assets/AnimeGO_LO.png" download>PNG</a>
            <a href="ttps://animego.erosakuga.com/files-resources/"><button class="btn ghost" type="button">AnimeGO</button></a>
          </div>
        </div>
      </article>
      
      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_layout.jpg" alt="" />
        <div class="content">
          <h2 class="title">CSP Templates</h2>
          <p class="meta">.clip Anime Template Collection uploaded by Anime Studios</p>
          <div class="actions">
            <a class="btn" href="https://tips.clip-studio.com/en-us/articles/4537#480acfad" download>Visit Page</a>
            <a href="https://tips.clip-studio.com/en-us/articles/4537#480acfad"><button class="btn ghost" type="button">CSP</button></a>
          </div>
        </div>
      </article>
      
      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_timesheet.jpg" alt="" />
        <div class="content">
          <h2 class="title">Timesheet</h2>
          <p class="meta"><br><br></p>
          <div class="actions">
            <a class="btn" href="assets/listeningside_timesheet.bmp" download>BMP</a>
            <a class="btn" href="assets/listeningside_timesheet.xls" download>XLS</a>
            <a href="http://listeningside.net/a_side15.html#:~:text=%E7%B5%B5%E3%82%B3%E3%83%B3%E3%83%86%E7%94%A8%E7%B4%99"><button class="btn ghost" type="button">ListeningSide</button></a>
          </div>
        </div>
      </article>
      
      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_timesheet.jpg" alt="" />
        <div class="content">
          <h2 class="title">Timesheet</h2>
          <p class="meta"><br><br></p>
          <div class="actions">
            <a class="btn" href="assets/DongChang_timesheet.png" download>PNG</a>
            <a href="https://www.youtube.com/watch?v=lTwMjbD2adQ"><button class="btn ghost" type="button">Dong Chang</button></a>
          </div>
        </div>
      </article>
      
      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_timesheet.jpg" alt="" />
        <div class="content">
          <h2 class="title">Timesheet</h2>
          <p class="meta"><br><br></p>
          <div class="actions">
            <a class="btn" href="assets/AnimeGO_Timesheet.png" download>PNG</a>
            <a href="https://animego.erosakuga.com/files-resources/"><button class="btn ghost" type="button">AnimeGO</button></a>
          </div>
        </div>
      </article>
      
      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_timesheet.jpg" alt="" />
        <div class="content">
          <h2 class="title">Timesheet (XDTS VIewer)</h2>
          <p class="meta">Software to view XDTS files and draw notes like a paper xsheet.</p>
          <div class="actions">
            <a class="btn" href="https://opentoonz.github.io/e/download/xdts_viewer.html" download>Visit Page</a>
            <a href="https://opentoonz.github.io/e/download/xdts_viewer.html"><button class="btn ghost" type="button">Opentoonz</button></a>
          </div>
        </div>
      </article>
     
      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_storyboard.jpg" alt="" />
        <div class="content">
          <h2 class="title">Storyboard Template</h2>
          <p class="meta"><br><br></p>
          <div class="actions">
            <a class="btn" href="assets/listeningside_ekonteyoshi.bmp" download>BMP</a>
            <a class="btn" href="assets/listeningside_ekonteyoshi.xls" download>XLS</a>
            <a href="http://listeningside.net/a_side15.html#:~:text=%E3%82%BF%E3%82%A4%E3%83%A0%E3%82%B7%E3%83%BC%E3%83%88(A3%E7%89%88)"><button class="btn ghost" type="button">ListeningSide</button></a>
          </div>
        </div>
      </article>
      
      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_storyboard.jpg" alt="" />
        <div class="content">
          <h2 class="title">Storyboard Template</h2>
          <p class="meta"><br><br></p>
          <div class="actions">
            <a class="btn" href="assets/AnimeGO_Storyboard.png" download>PNG</a>
            <a href="https://animego.erosakuga.com/files-resources/"><button class="btn ghost" type="button">AnimeGO</button></a>
          </div>
        </div>
      </article>
      
      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_modelsheet.jpg" alt="" />
        <div class="content">
          <h2 class="title">Model Sheet Template</h2>
          <p class="meta"><br><br></p>
          <div class="actions">
            <a class="btn" href="assets/AnimeGO_Settei.png" download>PNG</a>
            <a href="https://animego.erosakuga.com/files-resources/"><button class="btn ghost" type="button">AnimeGO</button></a>
          </div>
        </div>
      </article>
      
      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_compositeslip.jpg" alt="" />
        <div class="content">
          <h2 class="title">Composite Slip</h2>
          <p class="meta"><br><br></p>
          <div class="actions">
            <a class="btn" href="assets/listeningside_goseidenpyou.bmp" download>BMP</a><a class="btn" href="assets/listeningside_goseidenpyou.xls" download>XLS</a>
            <a href="http://listeningside.net/a_side15.html#:~:text=%E5%90%88%E6%88%90%E4%BC%9D%E7%A5%A8%EF%BC%9AExcel%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB"><button class="btn ghost" type="button">ListeningSide</button></a>
          </div>
        </div>
      </article>
      
      <!-- Card 3 -->
      <article class="card">
          <img src="assets/thumbnail_palette.jpg" alt="" />
        <div class="content">
          <h2 class="title">Anime Color Palette</h2><br>
          <div class="actions">
            <a href="assets/Anime Palette Blender.blend"><button class="btn">Blender (.blend)</button></a>
				  <a href="assets/Anime Palette Opentoonz.tpl"><button class="btn">Opentoonz (.tpl)</button></a>
          </div>
          
          <div class="actions">
				  <a href="assets/Anime Palette Krita.gpl"><button class="btn">Krita (.gpl)</button></a>
				  <a href="https://assets.clip-studio.com/en-us/detail?id=1691252"><button class="btn">CSP (.cls)</button></a>
          </div>
          
          
        </div>
      </article>
      
    </section>
  </main>
</body>
</html>

