<html>
  <head>
    <link rel="stylesheet" href="../../assets/css/style.css"> 
    <link rel="stylesheet" href="../../assets/css/grid_style.css"> 
    <script src="../../assets/javascript/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
   </head>
<body>
		<table>
			<tr>



			
			<div class="column">
			 <div class="card">
				<h3>Storyboard Template</h3>
				<p>Source: <a href="https://animego.erosakuga.com/files-resources/">AnimeGO</a></p>
				  <div class="thumbnail" style="background-image:url('https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/51/61/1766151/thumbnail?1583367774');"></div>
			 <p><a href="assets/AnimeGO_Storyboard.png"><button>Download .png</button></a></p>
			 </div>
		  </div>
			 
			 <div class="column">
			 <div class="card">
				<h3>Model Sheet Template</h3>
				<p>Source: <a href="https://animego.erosakuga.com/files-resources/">AnimeGO</a></p>
				  <div class="thumbnail" style="background-image:url('https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/34/50/2015034/thumbnail?1688844941');"></div>
			 <p><a href="assets/AnimeGO_Settei.png"><button>Download .png</button></a></p>
			 </div>
		  </div>

			 <div class="column">
			 <div class="card">
				<h3>Composite Slip</h3>
				<p>Source: <a href="http://listeningside.net/a_side15.html#:~:text=%E5%90%88%E6%88%90%E4%BC%9D%E7%A5%A8%EF%BC%9AExcel%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB">ListeningSide</a></p>
				  <div class="thumbnail" style="background-image:url('assets/thumbnail_composition_slip.jpg');"></div>
				<p>
					<form>
					 	<a href="assets/listeningside_goseidenpyou.bmp"><button>Download .bmp</button></a>
					 	<a href="assets/listeningside_goseidenpyou.xls"><button>Download .xls</button></a>
					</form>
				 </p>
			 </div>
		  </div>

			 <div class="column">
			 <div class="card">
				<h3>Anime Palettes</h3><br>
				  <div class="thumbnail" style="background-image:url('https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/52/12/1691252/thumbnail?1510821781');"></div>
			 <p>
				  <form>
				  <a href="assets/Anime Palette Blender.blend"><button>Blender (.blend)</button></a>
				  <a href="assets/Anime Palette Opentoonz.tpl"><button>Opentoonz (.tpl)</button></a>
				  <a href="assets/Anime Palette Krita.gpl"><button>Krita (.gpl)</button></a>
				  <a href="https://assets.clip-studio.com/en-us/detail?id=1691252"><button>CSP (.cls)</button></a>
				  </form>
			 </p>
			 </div>
		  </div>
		</div>
</body>
</html>
