<html>
  <head>
    <link rel="stylesheet" href="../../assets/css/style.css"> 
    <script src="../../assets/javascript/jquery.js"></script>
    <meta charset="UTF-8">
    <meta property="og:title" content="Template Animasi" />
    <meta property="og:description" content="Kumpulan Template Animasi, E-Conte, Settei, Palette Anime" />
    <meta property="og:image" content="https://traditionalanimatorindonesia.github.io/assets/img/icon.png" />
    <a href="https://traditionalanimatorindonesia.github.io/"> <img class="home-gif" src="../../assets/img/pupu_walk.gif"></a>
   </head>
    
  <body>
    <style>
        .img{width:200px;height:200px;}
        .img:hover{opacity:0.5;}
        table{float:left;}
    </style>
    <h2>Templates</h2>
    
    <b>Klik gambar untuk preview atau download :</b>
    

<div class="table_component" role="region" tabindex="0">
<table>
        <tr>
            <td>
                <b>Anime Starter Kit</b><br>
                Source: <a href="https://mochoko.gumroad.com/l/japaneseanimekit">Studio Bulldog</a>
            </td>
        </tr>
        <tr>
            <td><a href="https://mochoko.gumroad.com/l/japaneseanimekit"><img class="img" src="https://public-files.gumroad.com/xtnw7wci4014vpinhlw3nxoqft0c"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Animation Template</b><br>
                Source: <a href="https://aja-gr-jp.translate.goog/jigyou/chousa/aja_layout?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en">AJA</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/AJA_LO_A4.png"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/62/52/1735262/thumbnail?1549485192"></a></td>
        </tr>
</table>

<table>
        <tr>
            <td>
                <b>Animation Template (.psd)</b><br>
                Source: <a href="https://aja-gr-jp.translate.goog/jigyou/chousa/aja_layout?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en">AJA</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/AJA_LO.psd"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/62/52/1735262/thumbnail?1549485192"></a></td>
        </tr>
</table>

<table>
        <tr>
            <td>
                <b>Animation Template</b><br>
                Source: <a href="https://www.youtube.com/watch?v=lTwMjbD2adQ">Dong Chang</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/DongChang_LO_200dpi.png"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/62/52/1735262/thumbnail?1549485192"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Animation Template</b><br>
                Source: <a href="https://animego.erosakuga.com/files-resources/">AnimeGO</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/AnimeGO_LO.png"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/62/52/1735262/thumbnail?1549485192"></a></td>
        </tr>
</table>

<table>
        <tr>
            <td>
                <b>Blender-Krita Template</b><br>
                Source: <a href="../../pages/BlenderToKrita/index.html">Sadewoo/Krita</a>
            </td>
        </tr>
        <tr>
            <td><a href="../../pages/BlenderToKrita/assets/BlenderToKrita.7z"><img class="img" src="https://d3a2gvihmbqfjo.cloudfront.net/cb/cb90e7be04e57e884ec4f3bda4fd6c7f/cb90e7be04e57e884ec4f3bda4fd6c7f.png"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>CSP Anime Templates</b><br>
                Source: <a href="https://tips.clip-studio.com/en-us/articles/4537#480acfad">Clip Studio</a>
            </td>
        </tr>
        <tr>
            <td><a href="https://tips.clip-studio.com/en-us/articles/4537#480acfad"><img class="img" src="https://cdn2.steamgriddb.com/icon/7ce485cec479cf699806261f68fc8787/32/256x256.png"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Timesheet (A3)</b><br>
                Source: <a href="http://listeningside.net/a_side15.html#:~:text=%E7%B5%B5%E3%82%B3%E3%83%B3%E3%83%86%E7%94%A8%E7%B4%99">ListeningSide</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/listeningside_timesheet.bmp"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/75/76/2167675/thumbnail?1744984998"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Timesheet (.xls)</b><br>
                Source: <a href="http://listeningside.net/a_side15.html#:~:text=%E7%B5%B5%E3%82%B3%E3%83%B3%E3%83%86%E7%94%A8%E7%B4%99">ListeningSide</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/listeningside_timesheet.xls"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/75/76/2167675/thumbnail?1744984998"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Timesheet (A3)</b><br>
                Source: <a href="https://www.youtube.com/watch?v=lTwMjbD2adQ">Dong Chang</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/DongChang_timesheet.png"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/75/76/2167675/thumbnail?1744984998"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Timesheet (A3)</b><br>
                Source: <a href="https://animego.erosakuga.com/files-resources/">AnimeGO</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/AnimeGO_Timesheet.png"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/75/76/2167675/thumbnail?1744984998"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Timesheet (Software)</b><br>
                Source: <a href="https://opentoonz.github.io/e/download/xdts_viewer.html">XDTS Viewer</a>
            </td>
        </tr>
        <tr>
            <td><a href="https://opentoonz.github.io/e/download/xdts_viewer.html"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/75/76/2167675/thumbnail?1744984998"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Storyboard Template</b><br>
                Source: <a href="http://listeningside.net/a_side15.html#:~:text=%E3%82%BF%E3%82%A4%E3%83%A0%E3%82%B7%E3%83%BC%E3%83%88(A3%E7%89%88)">ListeningSide</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/listeningside_ekonteyoshi.bmp"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/51/61/1766151/thumbnail?1583367774"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Storyboard Template (.xls)</b><br>
                Source: <a href="http://listeningside.net/a_side15.html#:~:text=%E3%82%BF%E3%82%A4%E3%83%A0%E3%82%B7%E3%83%BC%E3%83%88(A3%E7%89%88)">ListeningSide</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/listeningside_ekonteyoshi.xls"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/51/61/1766151/thumbnail?1583367774"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Storyboard Template</b><br>
                Source: <a href="https://animego.erosakuga.com/files-resources/">AnimeGO</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/AnimeGO_Storyboard.png"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/51/61/1766151/thumbnail?1583367774"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Model Sheet Template</b><br>
                Source: <a href="https://animego.erosakuga.com/files-resources/">AnimeGO</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/AnimeGO_Settei.png"><img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/34/50/2015034/thumbnail?1688844941"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Composition Slip</b><br>
                Source: <a href="http://listeningside.net/a_side15.html#:~:text=%E5%90%88%E6%88%90%E4%BC%9D%E7%A5%A8%EF%BC%9AExcel%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB">ListeningSide</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/listeningside_goseidenpyou.bmp"><img class="img" src="assets/thumbnail_composition_slip.jpg"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Composition Slip (.xls)</b><br>
                Source: <a href="http://listeningside.net/a_side15.html#:~:text=%E5%90%88%E6%88%90%E4%BC%9D%E7%A5%A8%EF%BC%9AExcel%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB">ListeningSide</a>
            </td>
        </tr>
        <tr>
            <td><a href="assets/listeningside_goseidenpyou.xls"><img class="img" src="assets/thumbnail_composition_slip.jpg"></a></td>
        </tr>
</table>
<table>
        <tr>
            <td>
                <b>Anime Palette</b><br>
                
            </td>
        </tr>
        <tr>
            <td>
            <img class="img" src="https://celclipmaterialprod.s3-ap-northeast-1.amazonaws.com/52/12/1691252/thumbnail?1510821781"><br>
            <a href="assets/Anime Palette Blender.blend">Blender (.blend)</a><br>
            <a href="assets/Anime Palette Opentoonz.tpl">Opentoonz (.tpl)</a><br>
            <a href="assets/Anime Palette Krita.gpl">Krita (.gpl)</a><br>
            <a href="https://assets.clip-studio.com/en-us/detail?id=1691252">CSP (.cls)</a>
            </td>
        </tr>
</table>

</div>





  </body>
</html>
