html,body,div,span,iframe,h1,h2,h3,h4,p,pre,del,em,img,b,i,dl,dt,dd,ol,ul,li,form,table,tbody,tr,th,td,article,aside,footer,header,nav,section{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;box-sizing:border-box}
article,aside,footer,header,nav,section{display:block}
body{line-height:1;overflow-wrap:break-word;word-wrap:break-word}
input,textarea,select{font-family:inherit;font-size:inherit;color:inherit;vertical-align:middle;box-sizing:border-box}
a{margin:0;padding:0;text-decoration:none;outline:none;font-size:100%;vertical-align:baseline;background:transparent}
a img{border-style:none}
ul,li{list-style-type:none}
.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}

/* ===================================
背景,文字,リンク設定
=================================== */

html{
font-size:62.5%
}
body{
background:white; /* 背景 */
color:#000; /* 文字色 */
font-size:1.3em; /* 文字の大きさ */
line-height:1.5;
letter-spacing:.1em;
padding:20px 20px 80px;
text-align:center
}
a{
color:inherit
}
#contents a:not(.bg-none){
background:#c1f3f7;
border-radius:5px;
color:#000;
display:inline-block;
margin:0;
transition:.5s
}
#contents a:not(.bg-none):hover{
background:#f6bcd3
}
#contents a.bg-none{
text-decoration:underline
}

/* ===================================
基本
=================================== */

#wrapper{
margin:0 auto
}
#main-wrap{
margin:0 auto; 
width:600px /* 幅はここを変更 */
}
header {
padding:10px 0
}
#contents{
margin:0 auto;
text-align:left;
line-height:20px
}
footer{
padding:20px 10px
}
.footer-inner{
padding:10px 0;
text-align:right
}

/* ===================================
メニュー 
=================================== */

#menu {
}


nav li {
border:2px black solid;
border-radius:10px;
display:inline-block;
margin:5px;
position:relative;
overflow:hidden
}
nav li span {
position:absolute;
text-align:center;
top:50%;left:50%;
-ms-transform:translate(-50%,-50%);
-webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
width:100px
}
nav li a {

color:#000;
display:block;
height:100px;width:100px
}
nav li a:hover{
color:#fff
}
.color1{background-color:#acedf2;}
.color2{background-color:#f2b3ac;}
.color3{background-color:#dfe6a4;}
.color4{background-color:#e6a4be;}
.color5{background-color:#c8f2ac;}
.color6{background-color:#e6cba4;}
.color7{background-color:#e6a4e0;}


h1{
font-size:1.3em;
margin:0 0 .5em ;
}
h2{
font-size:1.3em;
}
h3{
background:#ccc;
border-radius:6px;
font-size:1em;
margin:10px 0 20px;
padding:5px;
position:relative
}
h3::after{
border:8px solid transparent;
border-top:8px solid #ccc;
content:'';
height:0;width:0;
left:30px;top:100%;
position:absolute
}
dt{
font-weight:700;
clear:both;
float:left;
margin:0 0 5px;
width:150px
}
dd{
margin:0 0 5px 150px
}
em{
font-style:normal;
font-weight:700
}
input,textarea{
background:#fff;
border:1px solid;
margin:3px 0;
width:200px
}
textarea{
height:50px
}
hr{
display:block;
border:0;  
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
height:1px
}
.marker{
background:#f9e773;
background:-webkit-linear-gradient(rgba(249,231,115,0) 50%, #f9e773 0%);
background:linear-gradient(rgba(249,231,115,0) 50%, #f9e773 0%)
}
.dcline{
border-left:3px solid #000;
margin:5px 0;
padding:3px
}
.textbox{
border:2px solid;
margin:10px 0;
padding:3px;
text-align:center
}
.title{
color:#999;
font-size:1.5em;
font-weight:700;
margin:2em 0;
text-align:right
}
.txt{
border-left:1px dotted #000;
margin:1em;
padding:0 0 0 1em
}
.frame{
background:#fff;
padding:6px;
border-radius:3px;
box-shadow:4px 4px 4px #ccc
}
.underlines{
padding-bottom:0.1em;
background-color:#fff;
background-image:-webkit-linear-gradient(left, #fff 1.1px, rgba(255,255,255,0) 1px), -webkit-linear-gradient(top, #666 1.1px, rgba(120,120,102,0) 1px);
background-image:linear-gradient(to right, #fff 1.1px, rgba(255,255,255,0) 1px), linear-gradient(to bottom, #666 1.1px, rgba(102,102,102,0) 1px);
background-size:2px 2.6rem;
line-height:2
}


@media screen and (max-width: 600px){
body{
font-size:1.5em
}
#main-wrap{
width:100%
}
.index{
width:210px
}
.indexbox{
background-size:auto 100%; 
height:60px;width:60px;
line-height:30px
}
nav li span {
width:100px
}
nav li a {
height:100px;width:100px
}
.color1,.color2,.color3,.color4,.color5,.color6,.color7,.color8,.color9{
-moz-background-size:auto 100%;
background-size:auto 100%
}
dt{
float:none;
clear:none;
width:auto
}
dd{
margin-left:20px
}

img{
max-width:100%;
height:auto
}


#contents p{
background-size:2px 3rem;
line-height:2
}
}

.group{margin-bottom:10px;background-color:white;padding:10px;border-radius:10px;border:2px solid black;}
