
h1,h2,h3{margin:0px;}
html{-webkit-text-size-adjust:none;font-family: Arial, sans-serif;}
.social-icon{width:64px;height:64px;}
.tableA{background-color:rgba(255,255,255,0.7);text-align:center;width:180px;padding-bottom:10px;border-spacing:0;}
th{background-color:none;color:black;padding:10px;border-spacing:0;}
button{font-size:17;width:100%;padding:5px;border: 1px solid ;background: #D5FFFF;box-shadow: none;border-radius: 0px;margin-bottom:5px;cursor:pointer;}
button:hover{opacity:0.5;}
button:focus {animation:color 0.5s ,scale 0.3s;}
@keyframes color {
    0%{background: yellow;}
    100%{background: #D5FFFF;}
}

@keyframes scale {
  0% { transform: scale(1,1); }
  50% { transform: scale(1.5,1.5); }
  100% { transform: scale(1,1); }
}

.home-gif{z-index:1;position:fixed;right:0;bottom:0;width:200px;opacity:0.5;}
.home-gif:hover{opacity:1;}

#wrapper {
  
    text-align:center;
  width: 100%;
}

#child {
  display: inline-block; 

}

.table_component {
    width: 100%;
}

.table_component table {
    border: 1px solid #dededf;
    height: auto;
    width: auto;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
}

.table_component td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}
